
  <div class="login-container " style="margin-top: 15vh ; width: 50vw; margin-left:24vw ">
    <section class=" text-center text-lg-start">
      <div class="card mb-3">
        <div class="row g-0 d-flex align-items-center">
          <div class="col-lg-6 d-none d-lg-flex">
            <img src="assets/img.png" style="height: 500px" alt="Trendy Pants and Shoes"
                 class="img-fluid" />
          </div>
          <div class="col-lg-6" style="background-color: rgba(128,128,128,0.11)">
            <h2 class="display-5" style="margin-left: 45px ; margin-top: 20px"> Login Page</h2>
            <hr>
            <div class="card-body py-5 px-md-5">
              <form>
                <div data-mdb-input-init class="form-outline mb-4">
                  <input [(ngModel)]="authRequest.email" type="email" id="email" class="form-control" name="login"/>
                  <label  class="form-label" for="email">Email address</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                  <input [(ngModel)]="authRequest.password" type="password" id="password" class="form-control" name="password" />
                  <label  class="form-label" for="password">Password</label>
                </div>

                <div class="row mb-4">
                  <div class="col">
                    <a href="#!">Forgot password?</a>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <button  (click)="login()" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>
                  <button (click)="register()" type="button" class="btn btn-link">
                    Register
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<!-- Section: Design Block -->
